body{
    margin: 0;
}

header{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 0 20px;
}

img{
    width: 100px;
    margin-left: 10px;
}

#left-menu, #right-menu{
    display: flex;
    gap: 10px;
    
}

#right-menu{
    margin-left: 400px;
}

.pil{
    width: 10px;
    
    margin-left: 0;
}

nav a{
    text-decoration: none;
    color: black;
    /*INTE RÄTT TYPSNITT*/
    font-family: system-ui;

}

.button-request{
    border-right: solid 1px grey;
    padding-right: 20px;
    height: 15px;
}

/* ändra färg, padding behövs? */
.button-request:hover{
    background-color: rgb(126, 24, 24);
    box-shadow: 0px 6px 10px green;
}

/* MENYN SLUTAR HÄR*/

main{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#sektion-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 50px;
    font-family: system-ui;
}

/*OSÄKER PÅ OM DET ÄR RÄTT*/
.black-button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
}
/*OSÄKER PÅ OM DET ÄR RÄTT AVSLUTAR HÄR*/






