/* FIXA -färger- -mobilvy- -variabler?- -maxwidth/min- -media- -typsnitt-*/
*{
    font-family: system-ui;
}
body{
    margin: 0;
}

header{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px 10px;
    
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e5e5e5;
    
}

.loggo{
    width: 100px;
    margin-right: 10px;
}

#left-menu, #right-menu{
    display: flex;
    gap: 10px;
    
}

#right-menu{
    margin-left: 200px;
}

.pil{
    width: 10px;    
    margin-left: 0;
}

nav a{
    text-decoration: none;
    color: black;
    /*INTE RÄTT TYPSNITT*/
    font-family: system-ui;

}

.nav-item{
    justify-self: center;
    align-self: center;
    margin: 0px 10px;
}


#liten-border{
    border-right: solid 1px #d5d1d1;
    width: 1px; 
    height: 20px; 
    align-self: center;
}

.black-button{
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#hamburger{
    display: none;
}

/* ändra färg, padding behövs? */
.black-button:hover{
    background-color: #353535;
}

/* MENYN SLUTAR HÄR*/

main{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

#sektion-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 50px;
    font-family: system-ui;
    max-width: 999px;    
}

.sektion-1-bild{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 77px;
}

.sektion-info-1 p{
    margin-bottom: 27px;
}

.black-button-getbarky{
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
}


.border-logo{
    border-bottom: 1px solid #5e5e5e5e;
    height: 0px;
    width: 100%;
    
}

#sektion-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

#sektion-2 img{
    height: 20px;
    
}

/*FÖRSTA BILDEN OM EKORRAR*/

.sektion-3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    font-family: system-ui;
}

.sektion-3-snabb-resultat{
    max-width: 499px;
    text-align: left;
}

.main-sektion-3 h1{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: rgb(188, 184, 184);
    
}

.sektion-3-bild{
 
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.liten-loggo-sektion-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sektion-3-4-5-info{
    display: block;
}

.bold{
    font-weight: bold;
    margin-bottom: 0;
}

.ljus-text{
    color: rgb(188, 184, 184) ;
    margin-top: 0;
}

.liten-loggo-sektion-3 img{
    width: 40px;
    height: 100%;
}

/*SEKTION-4*/


.sektion-4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    font-family: system-ui;
}

.sektion-4-snabb-resultat{
    max-width: 499px;
    text-align: left;
}

.main-sektion-4 h1{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: rgb(188, 184, 184);
    
}

.sektion-4-bild{
 
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.liten-loggo-sektion-4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}

/* TEXTEN FÖR ANSIKTET ÄR INTE RÄTT*/
.liten-loggo-sektion-4 img{
    width: 40px;
    height: 100%;
}

/* SEKTION-5*/

.sektion-5{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    font-family: system-ui;
}

.sektion-5-snabb-resultat{
    max-width: 499px;
    text-align: left;
}

.main-sektion-5 h1{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: rgb(188, 184, 184);
    
}

.sektion-5-bild{
 
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.liten-loggo-sektion-5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}

/* TEXTEN FÖR ANSIKTET ÄR INTE RÄTT*/
.liten-loggo-sektion-5 img{
    width: 40px;
    height: 100%;
}

.border-sektion-5{
    border-bottom: 1px solid #e5e5e5;
    height: 1px;
    width: 100%;
}

/* SEKTION-6 BÖRJAR HÄR*/

.sektion-6{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    max-width: 550px;
    margin-bottom: 50px;
    text-align: center;
    font-family: system-ui;
}

.sketion-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    padding: 0 40px;
}

.sektion-info h1{
    line-height: 1;
    margin: 0;
}

#check-lista{
    max-width: 100%;
    box-sizing: border-box;
    background-color: #f1f0f0;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px 30px;
    width: 680px;
    
}

.svart{
    color: black;
}


.check-lista-sektion-6{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d5d1d1 ;
  max-width: 100%;
  color: grey;
  margin-bottom: 0;
}

.sista-check-lista{
    
    border-bottom: none;
}

.check-lista-sektion-6 img{
    height: 15px;
}

.border-sektion-6{
    border-bottom: 1px solid #e5e5e5;
    height: 1px;
    width: 100%;
    margin-top: 100px;
}

#sektion-7{
    margin-top: 70px;
}

#work-sektion-7{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 0 80px 0 ;
    width: 800px;
    
}

.work-sektion{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.work-sektion p{
    color: #7f7f7f;
    margin: 0;
    padding-bottom: 10px;
}

.work-sektion a:hover{
    color: rgb(63, 135, 194);
    cursor: pointer;
}

.learn-more{
    color: black;
}

.border-7{
    border-right: 1px solid #e5e5e5;   
}

/*NY SEKTION (SEKTION-8)*/

.slut-sektion-8{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.sektion-rubrik-8 {
    display: flex;
    justify-content: center; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    padding: 0px; 
    width: 100%; 
}

.betyg-sektion-8{
    display: flex;
    gap: 10px;
    max-width: 100%;
    padding: 50px 10px;
}

.betyg-sektion-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.betyg-sektion-info h3{
    font-size: 24px;
   
    margin: 0;
    padding-bottom: 10px;
}

.betyg-sektion-info p{
    margin: 0;
    width: 415px;
}

.badges{
    height: 200px;
    max-width: 100%;
}

.procent-sektion-8{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin-bottom: 30px;
}

.procent-sektion{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.procent-sektion h1{
    color: #666666;
    font-size: 53px;
    margin: 0;
}

.procent-sektion{
    color: #666666;
    margin: 0;
}

.border-8{
    border-right: 1px solid #e5e5e5;
}

.sektion-info-8{
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
margin-left: auto;
margin-right: auto;
}

.sektion-info-8 h1{
    margin-bottom: 0;

}



/* HÄR BÖRJAR FOOTER*/

